header{
    color:#FBEAEB;
    background-color: #071C33;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    line-height: 2em;
}

h2, h3{
    color: #071C33;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body{
    background-color:#FBEAEB;
    color:#071C33;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

nav{
    background-color:#071C33;
    color:#FBEAEB;
    line-height: 2em;
    display: block;
}

nav li{
    display: inline;
    padding-right: 100px;
    list-style-type: none;
}

nav a:link{
    color:#FBEAEB;
    text-decoration: none;
}
nav a:visited{
    color:#FBEAEB;
}
nav a:hover{
    text-decoration:underline;
}

img{
    vertical-align: bottom;
}

main{
    background-color: #FBEAEB;
}

footer{
    background-color:#071C33;
    color:#FBEAEB;
}

ul{
    list-style-type: square;
    list-style-position: outside;
}

ol{
    list-style-type: decimal;
    list-style-position: outside;
}

caption{
    caption-side:top;
    font-weight: bold;
}

table{
    border: solid 2px black;
    border-collapse: collapse;
}

tr, td, th{
    border: solid 1px black;
    padding: 2px;
    width: 200px;
}

th{
    background-color:#071C33;
    color:#FBEAEB;
}

#closingStatement{
    color:#071C33;
}

.locationName{
    font-weight: bold;
    color:rgb(183, 0, 255);
}
.importantStuff{
    font-weight: bold;
    color:red
}